---
import BlogPosts from "../../../components/BlogPosts.astro";
import Pagination from "../../../components/Pagination.astro";
import Tagbar from "../../../components/Tagbar.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob("../../posts/*.md");

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );
    return paginate(filteredPosts, {
      params: { tag },
      pageSize: 8,
    });
  });
}
const { page } = Astro.props;
const { tag } = Astro.params;
---

<BaseLayout>
  <h1>{"Tag: " + tag}</h1>
  <Tagbar />
  <BlogPosts paginate={true} page={page} />

  <Pagination page={page} />
</BaseLayout>

<style>
  h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
</style>
