---
import BlogPosts from "../../components/BlogPosts.astro";
import Pagination from "../../components/Pagination.astro";
import Tagbar from "../../components/Tagbar.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Blog";

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob("../posts/*.md");
  return paginate(allPosts, { pageSize: 8 });
}

const { page } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Blog</h1>
  <Tagbar />
  <BlogPosts paginate={true} page={page} />
  <Pagination page={page} />
</BaseLayout>

<style>
  h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
</style>
