
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #f9fafb;
  background-color: #111111;
  font-family: sans-serif;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;

    body * {
      animation-duration: 0s !important;
      animation-delay: 0s !important;
    }
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

blockquote,
body,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
li,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

ul:where([class]) {
  list-style: none;
}

button,
input,
select,
textarea {
  color: inherit;
  letter-spacing: inherit;
  font: inherit;
}

input[type="text"],
textarea {
  width: 100%;
}

fieldset {
  padding: 0;
  border: none;
}

legend {
  margin-bottom: 0.5rem;
  max-width: 100%;
}

button,
input,
textarea {
  border: 1px solid gray;
}

button {
  padding: 0.75em 1em;
  border-radius: 0;
  background-color: transparent;
  line-height: 1;
}

button * {
  pointer-events: none;
}

button:hover {
  cursor: pointer;
}

embed,
iframe,
img,
object,
svg,
video {
  display: block;
  max-width: 100%;
}

table {
  width: 100%;
  table-layout: fixed;
}

[hidden] {
  display: none !important;
}

noscript {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

[tabindex="-1"] {
  outline: none !important;
  box-shadow: none !important;
}

.layout {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

h1 {
  /* padding: 1rem 0; */
  /* padding-top: 1rem; */
  margin-top: 2rem;
  font-size: 2rem;
}

h2 {
  padding-top: 1rem;
  /* margin: 1rem 0; */
  font-size: 1.5rem;
}

