---
import BaseLayout from "../layouts/BaseLayout.astro";
import DonationLink from "../components/DonationLink.astro";
---

<BaseLayout>
  <h1>Donate</h1>
  <p>
    If you have found my open source work useful, please consider making a
    donation. All of the software I make, I give away for free. Your support is
    greatly appreciated and helps me to continue developing and making content.
  </p>

  <div class="donation-links">
    <DonationLink link={"https://github.com/sponsors/ChristianChiarulli#sponsors"} icon={"mdi:github"} name={"GH Sponsors"} />
    <DonationLink link={"https://paypal.me/chrisatmachine"} icon={"mdi:paypal"} name={"PayPal"} />
    <DonationLink link={"https://account.venmo.com/u/Christian-Chiarulli"} icon={"mdi:venmo"} name={"Venmo"} />
    <DonationLink
      link={"https://cash.app/$chrisatmachine"}
      icon={"simple-icons:cashapp"}
      name={"CashApp"}
    />
    <DonationLink link={"https://www.patreon.com/chrisatmachine"} icon={"mdi:patreon"} name={"Patreon"} />
    <DonationLink link={"https://ko-fi.com/chrisatmachine"} icon={"simple-icons:kofi"} name={"Ko-fi"} />
    <DonationLink
      link={"https://www.buymeacoffee.com/chrisatmachine"}
      icon={"simple-icons:buymeacoffee"}
      name={"BuyMeACoffee"}
    />
    <DonationLink
      link={"https://strike.me/chrisatmachine/"}
      icon={"bi:lightning-charge-fill"}
      name={"Strike"}
    />
    <DonationLink link={"https://www.youtube.com/@chrisatmachine"} icon={"mdi:youtube"} name={"YouTube"} />
  </div>
</BaseLayout>

<style>
  h1 {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  .donation-links {
    padding-top: 2rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(1, 1fr); */
    justify-items: flex-start;
    align-items: center;
    width: 100%;
    border-top: solid 1px #27272a;
    gap: 1rem;
  }

  p {
    color: #71717a;
  }

  a {
    color: #6b7280;
    text-decoration: none;
    font-size: 1.4rem;
  }

  @media only screen and (min-width: 768px) {
    .donation-links {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      justify-items: center;
    }

    p {
      font-size: 1.4rem;
    }
  }
</style>
