---
import SocialList from "../components/SocialList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPosts from "../components/BlogPosts.astro";
import { YouTube } from "@astro-community/astro-embed-youtube";

const message =
  "Creator and lead maintainer of 🌙 LunarVim and ⚡ Zap. Teaching and streaming software developement.";
---

<BaseLayout
  pageTitle={"Christian Chiarulli"}
  showImage={true}
  message={message}
>
  <SocialList />
  <h2>Latest Posts</h2>
  <BlogPosts count={4} />

  <div class="readmore">
    <a href="/blog/1">All Posts →</a>
  </div>

  <h2>Latest Video</h2>
  <!-- https://github.com/LuanRT/YouTube.js -->

  <div class="video yt-video">
    <YouTube
      id="https://www.youtube.com/watch?v=sFA9kX-Ud_c&list=PLhoH5vyxr6QqGu0i7tt_XoVK9v-KvZ3m6"
    />
  </div>
</BaseLayout>

<style>
  .readmore {
    padding: 1rem 0;
  }

  .readmore a {
    color: #71717a;
    font-size: 1.1rem;
    text-decoration: none;
  }

  .readmore a:hover {
    text-decoration: underline;
  }

  .yt-video {
    padding-top: 1rem;
  }
</style>
