---
const { url, title, date } = Astro.props;

let newdate = new Date(Date.parse(date));
let dateString = newdate.toLocaleDateString("en-US", {
  year: "numeric",
  month: "2-digit",
  day: "2-digit",
});
---

<li>
  <a href={url}>
    <div class="container">
      <span class="pubDate">{dateString}</span>
      <span>{title}</span>
      <span class="readmore">read more</span>
    </div>
  </a>
</li>
<style>
  li {
    font-size: 1.3rem;
    padding: 0.2rem;
    list-style: none;
  }

  a {
    color: #e5e7eb;
    text-decoration: none;
    /* padding: 1rem; */
  }

  .container {
    display: flex;
    align-items: center;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    border-bottom: 1px solid #4b5563;
  }

  li:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease-in-out;
  }

  .pubDate {
    color: #6b7280;
    font-size: 1.1rem;
    font-weight: 400;
    margin-right: 0.8rem;
  }

  .readmore {
    color: #6b7280;
    font-size: 1rem;
    font-weight: 400;
    margin-left: auto;
  }
</style>
