---
const { url, title, date } = Astro.props;

let newdate = new Date(Date.parse(date));
let dateString = newdate.toLocaleDateString("en-US", {
  year: "numeric",
  month: "2-digit",
  day: "2-digit",
});
---

<li>
  <a class="container" href={url}>
    <span>{title}</span>
    <span class="pubDate">{dateString}</span>
    <!-- <span class="readmore">read more</span> -->
  </a>
</li>
<style>
  li {
    font-size: 1.3rem;
    list-style: none;
    border-bottom: 1px solid #3f3f46;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #e5e7eb;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
  }

  li:hover .container {
    transform: scale(1.01);
    transition: transform 0.3s ease-in-out;
  }

  .pubDate {
    color: #71717a;
    font-size: 1.1rem;
    font-weight: 400;
    padding-top: 0.2rem;
  }

  .readmore {
    color: #71717a;
    font-size: 1rem;
    font-weight: 400;
    margin-left: auto;
  }
</style>
