---
const { index, url, title, date } = Astro.props;

let newdate = new Date(Date.parse(date));
let dateString = newdate.toLocaleDateString("en-US", {
  year: "numeric",
  month: "2-digit",
  day: "2-digit",
});
---

<li>
  <a class="container" href={url}>
    <span class="index">0{index + 1}</span>
    <div class="postinfocontainer">
      <div>{title}</div>
      <div class="pubDate">{dateString}</div>
    </div>
  </a>
</li>
<style>
  li {
    font-size: 1.2rem;
    list-style: none;
    border-bottom: 1px solid #3f3f46;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #e5e7eb;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .postinfocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  li:hover .container {
    transform: scale(1.01);
    transition: transform 0.3s ease-in-out;
  }

  .index {
    color: #71717a;
    margin-right: 1rem;
  }

  .pubDate {
    color: #71717a;
    font-size: 1.1rem;
    font-weight: 400;
    padding-top: 0.2rem;
  }

  .readmore {
    color: #71717a;
    font-size: 1rem;
    font-weight: 400;
    margin-left: auto;
  }

  @media only screen and (min-width: 768px) {
    .container {
      flex-direction: row;
      justify-content: flex-start;
    }

    .postinfocontainer {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
