---
const { link, icon, name } = Astro.props;
import { Icon } from "astro-icon";
---

<a href={`${link}`} target="_blank" rel="nofollow noopener noreferrer">
  <div class="donation-link">
    <Icon name={`${icon}`} />
    <div class="donation-name">
      {name}
    </div>
  </div>
</a>

<style lang="css">
  a {
    color: #f9fafb;
    text-decoration: none;
  }

  a:hover {
    transform: scale(1.1);
  }

  .donation-link {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    color: #f9fafb;
    text-decoration: none;
    font-size: 1.5rem;
  }

  .donation-name {
    margin-left: 0.5rem;
  }

  [astro-icon] {
    width: 2rem;
    color: #9ca3af;
  }

  [astro-icon]:hover {
    transform: scale(1.1);
  }

  [astro-icon="mdi:github"] {
    color: #ea4aaa;
  }
  [astro-icon="mdi:paypal"] {
    color: #00457c;
  }
  [astro-icon="mdi:venmo"] {
    color: #3d95ce;
  }
  [astro-icon="simple-icons:cashapp"] {
    color: #00c244;
  }
  [astro-icon="mdi:patreon"] {
    color: #ff424d;
  }
  [astro-icon="simple-icons:kofi"] {
    color: #ff5e5b;
  }
  [astro-icon="simple-icons:buymeacoffee"] {
    color: #ffdd00;
  }
  [astro-icon="bi:lightning-charge-fill"] {
    color: #e89118;
  }
  [astro-icon="mdi:youtube"] {
    color: #ff0000;
  }
</style>
