---
import { Icon } from "astro-icon";
import FooterLink from "./FooterLink.astro";
---

<footer>
  <div class="footer-links">
    <FooterLink link="/" name="Home" />
    <FooterLink link="/about" name="About" />
    <FooterLink link="/donate" name="Donate" />
    <FooterLink link="https://chrisatmachine.myspreadshop.ca/" name="Merch" />
    <FooterLink link="https://github.com/LunarVim" name="LunarVim" />
    <FooterLink link="https://github.com/zap-zsh" name="Zap" />
    <FooterLink link="https://github.com/ChristianChiarulli" name="Github" />
    <FooterLink link="https://www.youtube.com/@chrisatmachine" name="YouTube" />
    <FooterLink
      link="https://matrix.to/#/#atmachine-general:matrix.org"
      name="Matrix"
    />
  </div>
  <!-- <div class="bitcoin"> -->
  <!--   <Icon name={"logos:bitcoin"} /> -->
  <!--   <div class="bitcoin-address"> -->
  <!--     bc1q57jh8rxuzhd6w0rmmeu468c72wwjy7llxt6qgf -->
  <!--   </div> -->
  <!-- </div> -->
</footer>

<style>
  footer {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-links {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
    border-top: solid 1px #27272a;
    gap: 1rem;
  }

  .bitcoin {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    color: #52525b;
    text-decoration: none;
    font-size: 0.8rem;
  }

  .bitcoin-address {
  }

  [astro-icon] {
    width: 1rem;
    margin-right: 0.5rem;
  }
</style>
