---
const { link, name } = Astro.props;
---

<a href={link} target="_blank" rel="nofollow noopener noreferrer">
  {name}
</a>

<style lang="css">
  a {
    color: #52525b;
    text-decoration: none;
    font-size: 1rem;
  }

  a:hover {
    color: #3f3f46;
  }

  .donation-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9fafb;
    text-decoration: none;
    font-size: 1.5rem;
  }

  .donation-name {
  }
</style>
