---
import Social from "./Social.astro";
---

<footer>
  <a
    href={`https://www.youtube.com/@chrisatmachine`}
    target="_blank"
    rel="nofollow noopener noreferrer"
  >
    youtube
  </a>
</footer>

<style>
  footer {
    border-top: 1rem;
    border-bottom: 1rem;
    border-color: #333;
    display: flex;
    align-self: center;
    gap: 1rem;
    margin-top: 2rem;
    /* margin-bottom: 2rem; */
  }
</style>

