---
import { Icon } from "astro-icon";
---

<div class="hamburger">
  <Icon name={"mdi:menu"} />
</div>

<style>
  .hamburger {
    cursor: pointer;
  }

  [astro-icon] {
    width: 2rem;
    margin-right: 0.5rem;
    color: #a1a1aa;
  }
</style>
