---
import { Icon } from "astro-icon";
---

<div class="hamburger">
  <Icon name={"mdi:menu"} />
</div>

<style>
  .hamburger {
    cursor: pointer;
  }

  [astro-icon] {
    width: 2rem;
    margin-right: 0.5rem;
    color: #a1a1aa;
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {
  [astro-icon] {
    width: 3rem;
  }
  }
</style>
