---
import { Icon } from "astro-icon";
---

<div class="nav-links">
  <div class="nav-link">
    <a href="/">Home</a>
  </div>
  <div class="nav-link">
    <a href="/blog/1">Blog</a>
  </div>
  <div class="nav-link">
    <a class="donate-link" href="/donate">Donate</a>
  </div>
  <div class="nav-rss">
    <a href="/tags">
      <Icon name={`mdi:rss-box`} />
    </a>
  </div>
</div>

<style>
  .nav-links {
    display: none;
  }

  .expanded {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .nav-links a {
    color: #f9fafb;
    font-size: 1.25rem;
    text-decoration: none;
  }

  .nav-links .nav-rss {
    display: none;
  }

  .nav-link .donate-link {
    /* color: #facc15; */
    color: #22c55e;
    font-weight: bold;
  }

  .nav-link {
    padding: 1rem;
  }

  [astro-icon] {
    width: 2rem;
    color: #9ca3af;
  }

  [astro-icon]:hover {
    transform: scale(1.1);
  }

  [astro-icon="mdi:rss-box"]:hover {
    color: #ffa500;
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {
    .nav-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    .nav-link {
      padding: 0.5rem;
      padding-top: 0.225rem;
      padding-bottom: 0.225rem;
    }

    .nav-links .nav-link:hover {
      background-color: #27272a;
      border-radius: 0.8rem;
    }

    .nav-links .nav-rss {
      margin-left: auto;
    }

    .nav-links .nav-rss {
      display: block;
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {
  }
</style>
