---
import { Icon } from "astro-icon";
---

<div class="nav-links">
  <div class="nav-link">
    <a href="/">Home</a>
  </div>
  <div class="nav-link">
    <a href="/blog/1">Blog</a>
  </div>
  <div class="nav-link">
    <a class="donate-link" href="/donate">Donate</a>
  </div>
  <div class="nav-rss">
    <!-- <Icon name={`mdi:rss-box`} /> -->
    <button id="connect-button" class="connect-button">
      <Icon name={"mdi:lightning-bolt"} />
      Tip</button
    >
    <button class="tip-button">
      <Icon name={"mdi:lightning-bolt"} />
      Tip</button
    >
  </div>
  <div class="popup" id="myPopup">
    <Icon id="close-popup" name={"mdi:close"} />
    <p>Pay with Lightning</p>
    <input id="tip-input" type="number" placeholder="Satoshis" />
    <button class="send-button">
      <Icon name={"mdi:lightning-bolt"} />
      Send Sats</button
    >
  </div>
</div>

<style>
  p {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .connect-button,
  .tip-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    /* background-color: #4caf50; */
    background-color: #fde047;
    border: none;
    color: #111;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .tip-button {
    display: none;
  }

  .tip-enabled {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .connect-button:hover {
    /* background-color: #45a049; */
    background-color: #facc15;
  }

  .tip-button:hover {
    /* background-color: #45a049; */
    background-color: #eab308;
  }

  .nav-links {
    display: none;
  }

  .hidden {
    display: none;
  }

  .expanded {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .nav-links a {
    color: #f9fafb;
    font-size: 1.25rem;
    text-decoration: none;
  }

  .nav-links .nav-rss {
    display: none;
  }

  .nav-link .donate-link {
    /* color: #facc15; */
    color: #22c55e;
    font-weight: bold;
  }

  .nav-link {
    padding: 1rem;
  }

  [astro-icon] {
    width: 1.5rem;
    color: #111;
  }

  [astro-icon="mdi:close"] {
    color: #c1c1c1;
    padding: 0.1rem;
    margin: 0.5rem;
    cursor: pointer;
    align-self: flex-end;
  }

  [astro-icon]:hover {
    transform: scale(1.1);
  }

  [astro-icon="mdi:rss-box"]:hover {
    color: #ffa500;
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {
    .nav-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    .nav-link {
      padding: 0.5rem;
      padding-top: 0.225rem;
      padding-bottom: 0.225rem;
    }

    .nav-links .nav-link:hover {
      background-color: #27272a;
      border-radius: 0.8rem;
    }

    .nav-links .nav-rss {
      margin-left: auto;
    }

    .nav-links .nav-rss {
      display: block;
    }
  }

  .popup {
    z-index: 100;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 220px;
    background-color: #1e1e1e;
    border-radius: 0.8rem;
    box-shadow: 0 0 0 100vmax #0007;
    border: 1px solid #c1c1c1;
    display: none;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  textarea:focus,
  input:focus {
    outline: none !important;
    border: 1px solid #60a5fa;
    /* box-shadow: 0 0 10px #719ECE; */
  }

  .popup input {
    color: #fff;
    background-color: #272727;
    padding: 0.5rem;
    width: 70%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 0.4rem;
  }

  .popup button {
    width: 50%;
    border-radius: 0.8rem;
    background-color: #fde047;
    color: #111;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup button:hover {
    background-color: #facc15;
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {
  }
</style>
