---
import { Icon } from "astro-icon";
---

<div class="nav-links">
  <div class="nav-link-text">
    <div class="nav-link">
      <a href="/">Home</a>
    </div>
    <div class="nav-link">
      <a href="/tags">Blog</a>
    </div>
    <div class="nav-link">
      <a class="donate-link" href="/donate">Donate</a>
    </div>
  </div>
  <div class="nav-rss">
    <a href="/tags">
      <Icon name={`mdi:rss-box`} />
    </a>
  </div>
</div>

<style lang="css">
  .nav-link-text {
    display: flex;
  }

  .nav-link .donate-link {
    /* color: #facc15; */
    color: #22c55e;
    font-weight: bold;
  }

  [astro-icon] {
    width: 1.5rem;
    color: #9ca3af;
  }

  [astro-icon]:hover {
    transform: scale(1.1);
  }

  [astro-icon="mdi:rss-box"]:hover {
    color: #ffa500;
  }
</style>
