---
const { platform, link } = Astro.props;
import { Icon } from "astro-icon";
---

<a
  href={`${link}`}
  target="_blank"
  rel="nofollow noopener noreferrer"
>
  <Icon name={`ph:${platform}-logo-thin`} />
</a>

<style lang="css">
  a {
    color: #f9fafb;
  }

  [astro-icon] {
    width: 3.25rem;
  }

  [astro-icon]:hover {
    transform: scale(1.1);
  }

  [astro-icon="ph:youtube-logo-thin"]:hover {
    color: #ff0000;
  }
  [astro-icon="ph:twitch-logo-thin"]:hover {
    color: #9146ff;
  }
  [astro-icon="ph:twitter-logo-thin"]:hover {
    color: #1da1f2;
  }
  [astro-icon="ph:github-logo-thin"]:hover {
    color: #f05032;
  }
  [astro-icon="ph:discord-logo-thin"]:hover {
    color: #5865f2;
  }
  [astro-icon="ph:medium-logo-thin"]:hover {
    color: #ffc017;
  }
</style>
