---
import Social from "./Social.astro";
---

<div class="socials">
  <Social platform="youtube" link="https://www.youtube.com/@chrisatmachine" />
  <Social platform="twitch" link="https://www.twitch.tv/chrisatmachine" />
  <Social platform="twitter" link="https://twitter.com/chrisatmachine" />
  <Social platform="github" link="https://github.com/ChristianChiarulli" />
  <Social
    platform="discord"
    link="https://discord.gg/machine-701530051140780102"
  />
  <Social platform="medium" link="https://medium.com/@chris.machine" />
</div>

<style>
  .socials {
    display: flex;
    align-self: center;
    gap: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
</style>
