---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import "../styles/markdown.css";
---

<BaseLayout pageTitle={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p class="date">{frontmatter.pubDate.slice(0, 10)}</p>

  <!-- <img src={frontmatter.postImage} width="300" alt={frontmatter.image.alt} /> -->

  <div class="markdown-body">
    <slot />
  </div>
</BaseLayout>

<style>
  h1 {
    padding-top: 2rem;
    /* padding-bottom: 2rem; */
  }

  .date {
    margin-top: -0.5rem;
    margin-bottom: 2rem;
    font-size: 0.8rem;
    color: #666;
  }
</style>
